<div class="{{brandName}}Container" ng-controller="authCntrl">
  <portalheader></portalheader>
  <div class="bodyContainer clearfix">
    <sidemenu></sidemenu>
    <div id="section">

      <h4 style="margin-left:10%;margin-bottom: 20px" class="sectionMainHeader">DEVICE INFORMATION :<br></h4>

      <div class="info" style="position:absolute;margin-left:7%;">
        <td>Device id :</td><br/>
        <td>Model :</td>
      </div>
      <div class="info1" style="float:right;margin-right:50%">
        <td>Device Name :</td><br/>
        <td>Activation Date :</td>
      </div>
    </div>
  </div>
  <portalfooter></portalfooter>
</div>
