<div class="fossilContainer" ng-controller="brandController">
    <div id="header" class="header-container fossilPage">
        <div class="logoText">
            <a ui-sref="fossil"><img src="images/fossil-logo.png" /></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a id="signInUrl" href="{{UaaAuth}}">Sign in</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="fossilInnerContainer clearfix">
        <div class="fossilLandingContent" >
            <a>
                <img class="slideImg" src="images/fossil-landingpage.jpg" usemap="#" width="1070" height="560">
            </a>
            <div class="textElementsWrapper">
                <h2 class="">HOLIDAY<br>TIME</h2>
                <p class="">When festive materials meet modern design,<br>the result is iconic watches they’ll treasure <br>for years to come.</p>
            </div>
        </div>
    </div>
    <portalfooter></portalfooter>
</div>
