<div class="{{brandName}}Container" style="background-image: url('../portalApp/img/{{brandName}}-banner.jpg');background-size: cover">
    <portalheader></portalheader>
    <div class="container clearfix">
        <sidemenu></sidemenu>
        <div id="section">
            <iframe class="iframeLink" name="iframe1" src="http://ec2-174-129-209-119.compute-1.amazonaws.com/t/mk/views/DemoWorkbook/UserActivationsDashboard?:embed=yes&:tabs=no"></iframe>
        </div>
    </div>
    <portalfooter></portalfooter>
</div>