<div class="fossilContainer" ng-controller="brandController">
  <div id="header" class="header-container fossilPage">
    <div class="logoText">
      <a ui-sref="home"><img src="images/fossil-logo.png" /></a>
    </div>
  </div>
  <div style="width: 80%;margin: 0 auto;min-height: 500px">
    <h1 style="color:blue;margin-bottom: 30px">Terms Of Use</h1>
    <h4 style="margin-bottom: 10px">Scope of terms</h4>
    <p>These Terms of Use are applicable to all Intel Websites, whether a sponsored site, managed through a third party vendor or hosted by a third party (referred to hereafter as the "Web Sites"). These Terms also apply to any resources and tools provided through Intel Web Sites, including but not limited to developer tools, download areas, research areas, community forums, chat rooms, blogs, sharing sites and product information. These Terms apply to all the Intel Web Sites, both now and in the future. Hereafter, all the materials covered by these Terms of Use will be referred to as the "Materials."</p>
    <h4 style="margin-bottom: 10px">Security And Privacy</h4>
    <p><b>Personal Information:</b> Information submitted to Intel through forms on the Web Sites or Materials is governed according to Intel's Privacy Policy.</p>
    <p><b>Member Account, Password, and Security:</b> Intel may, from time to time, host a program or activity specific site that may require you to establish a member account and/or site password. In such cases, you are entirely responsible for maintaining the confidentiality of your password and account. Furthermore, you are entirely responsible for any and all activities that occur under your account. You agree to notify Intel immediately of any unauthorized use of your account or any other breach of security here. Intel will not be liable for any loss that you may incur as a result of someone else using your password or account, either with or without your knowledge. However, you could be held liable for losses incurred by Intel or another party due to someone else using your account or password. You may not use anyone else's account at any time, without the permission of the account holder.</p>
  </div>
  <portalfooter></portalfooter>
</div>
