<div class="{{brandName}}Container" style="background-image: url('../portalApp/img/{{brandName}}-banner.jpg');background-size: cover">
    <portalheader></portalheader>
    <div class="container clearfix">
        <sidemenu></sidemenu>
        <div id="section">
            <iframe class="iframeLink" name="iframe1" ng-src="" ng-show="openIframe"></iframe>
            <img class="underConstructionImg" ng-hide="openIframe" src="../portalApp/img/underconstruction.jpg" />
        </div>
    </div>
    <portalfooter></portalfooter>
</div>